// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $gray: #F4F4F4;

 body {
   text-align: center;
   background: $gray;
   color: midnightblue;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }

  a {
   color: grey;
   &:hover {
     color: black;
   }
 }
